@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
    background: #00C690;
    color: white;
}

#top-nav {
       position: fixed;
       flex-direction: column-reverse;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-flow: row nowrap;
       background-color: transparent;
       width: 100%;
       z-index: 1;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding: 0px 15px;
  }

  .enlaces {
    /* text-align: center; */
    justify-content: space-between;
    /* float: left; */
    padding: 0px 0px;
    flex-direction: row;
    margin: 40px 30px;
    /* width: 100px; */
    /* display: block; */
    text-decoration: none;
    /* transition: border-bottom-color 0.2s ease-in; */
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Oswald, sans-serif;
  }


  
.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

header{
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;

}

main input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #007C6B;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

main input:focus{
    background-color: rgba(255,255,255, 0.6);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section {
  margin-top: 20px;
}

.location .city {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 30px;
}

.location .date{
    color: #FFF;
    font-size: 16px;
}

.current .temp{
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0,0,0, 0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0, 0.4);
}

.current .hi-low{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0, 0.4);
}

#about {
  font-size: large;
  height: 700px;
  align-items: center;
  flex-direction: column;
  
  justify-content: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  padding-top: 100px;
}

.p1{
  margin-top: 100px;
  font-size: x-large;
}

#developer {
  height: 700px;
  align-items: center;
  flex-direction: column;
  
  justify-content: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  padding-top: 100px;
}

.p2 {
  margin-top: 10px;
  font-size: larger;
}

#foto {
  margin-top: 40px;
  width:300px;
  height:300px;
  border-radius:160px;
  border:10px solid #01976f;

}

#contact {
  height: 700px;
  align-items: center;
  flex-direction: column;
  
  justify-content: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  padding-top: 100px;
}
.redes {
    height: 200px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-repeat: repeat;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    padding-top: 50px;
  }

.instagram {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .twitter {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .instagram:hover {
    content: url(imgs/instagramblanco.png);
  }
  .twitter:hover {
    content: url(imgs/twitterblanco.png);
  }
  
  .gitlab:hover {
    content: url(imgs/gitlabblanco.png);
  }
  
  a.button-slide {
    position: relative;
    display: inline-block;
    outline: none;
    color: #f5f5f5;
    background-color: #01976f;
    letter-spacing: .15rem;
    font-weight: 300;
    font-size: 1.5em;
    height: 5rem;
    line-height: 5rem;
    min-width: 22rem;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    border-radius: 10px;
}

a.button-slide span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: inherit;
    transition: inherit
}

a.button-slide:before {
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    -webkit-transition: inherit;
    transition: inherit;
    content: attr(data-hover);
    color: rgb(3, 42, 233)
}

